
<div class="container">
	<h2>Hello, <%= current_user.first_name %></h2>
	<p>All the songs in our hub:</p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Artist</th>
				<th>Title</th>
				<th>#Times Songs Added</th>
				<th>Add to Playlist</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% @songs.each do |song| %>
					<td><%= song.artist %></td>
					<td><%= song.title %></td>
					<td><%=  %></td>
					<td><%= link_to 'Add to Playlist', songs_path, :class => "btn btn-success"%></td>
			</tr>
				<% end %>
		</tbody>
	</table>
</div>

<h3>Add a Song:</h3>
<form action="/songs" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<!--	<input type="hidden" name="_method" value="patch">-->
	<label for="Artist">Artist
		<input type="text" id="title" name="song[artist]">
	</label>
	<label for="Title">Title:
		<input type="text" id="title" name="song[title]">

	</label>
	<input type="submit" class="btn btn-primary" value="Add Song"/>

</form>